<div class="flex justify-center mt-10">
    <div class="bg-blue-600 w-80  rounded-lg">
        <div class="font-poppins text-white ml-5 mt-1">
            <h1>Today</h1>
            <h2 class="mt-4 text-4xl">x/y Tasks</h2>
        </div>
        <img class="w-28 h-28 float-end" src="../../../assets/free.svg" alt="free">
    </div>
</div>

<div class="flex justify-center mt-12">
    <h3 class="font-poppins font-bold text-3xl">To Do 🚀</h3>
</div>

<form class="flex justify-center m-12">
    <mat-form-field>
        <input type="text" matInput placeholder="Search tasks...">
        <!-- <mat-icon>search</mat-icon> -->
    </mat-form-field>
</form>

<div class="flex justify-center mt-10">
    <div class="bg-purple-300 w-80 h-20 rounded-lg">
        <h4 class="flex justify-center mt-2 font-poppins text-white">some random thing that user wrote</h4>
    </div>
</div>
<div class="flex justify-center mt-10">
    <div class="bg-purple-400 w-80 h-20 rounded-lg">
        <h4 class="flex justify-center mt-2 font-poppins text-white">some random thing that user wrote</h4>
    </div>
</div>
<div class="flex justify-center mt-10">
    <div class="bg-purple-500 w-80 h-20 rounded-lg">
        <h4 class="flex justify-center mt-2 font-poppins text-white">some random thing that user wrote</h4>
    </div>
</div>