<div class="flex justify-center mt-10">
    <div class="bg-blue-600 w-80  rounded-lg">
        <div class="font-poppins text-white ml-5 mt-1">
            <h1>Today</h1>
            <h2 class="mt-4 text-4xl">x/y Tasks</h2>
        </div>
        <img class="w-28 h-28 float-end" src="../../../assets/free.svg" alt="free">
    </div>
</div>

<div class="flex justify-center mt-12">
    <h3 class="font-poppins font-bold text-3xl">To Do 🚀</h3>
</div>

<app-task />

<div class="flex justify-center mt-12">
    <h3 class="font-poppins font-bold text-3xl">Complete 💆🏻‍♂️</h3>
</div>