<div class="flex flex-col justify-center items-center gap-10 mt-12">
    <h1 class="font-poppins font-bold text-3xl">{{caption().taskCardManagement.todoTitle}}</h1>
    <app-task-card [loading]="loading()" [taskEmptyCaption]="caption().taskEmptyCaption" [task]="tasks().todoTasks"
        [rightIcon]="'done'" [leftIcon]="'delete'" (clickLeftButtonEvent)="onClickDeleteHandler($event)"
        (clickRightButtonEvent)="onClickDoneHandler($event)" />

    <h2 class="font-poppins font-bold text-3xl">{{caption().taskCardManagement.completedTitle}}</h2>
    <app-task-card [loading]="loading()" [taskEmptyCaption]="caption().taskEmptyCaption" [task]="tasks().completedTasks"
        [rightIcon]="'undo'" [leftIcon]="'delete'" (clickLeftButtonEvent)="onClickDeleteHandler($event)"
        (clickRightButtonEvent)="onClickUndoHandler($event)" />
</div>