.card {
    min-width: 320px;
    max-width: 320px;
    background-color: #eb92cc;
    word-break: break-all;
}

h1 {
    color: #474554;
    display: flex;
    justify-content: center;
}

.card-actions {
    display: flex;
    justify-content: space-between;

    margin: 0 12px 0 12px;
    color: white;
}