<div class="flex flex-col justify-center items-center mt-10 gap-8">
    @if (todoTaskInput().length > 0) {
    @for (task of todoTaskInput(); track $index) {
    <mat-card class="card">
        <mat-card-content>
            <h1>{{ task.title }}</h1>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions class="card-actions">
            <!-- <mat-icon class="cursor-pointer" (click)="onDeleteTaskHandler(task.id)">delete</mat-icon>
                <mat-icon class="cursor-pointer" (click)="onInCompleteTaskHandler(task.id)">undo</mat-icon> -->
        </mat-card-actions>
    </mat-card>
    }
    }
    @else {
    <app-task-empty-card />
    }
</div>