<div class="flex-row items-center gap-64 justify-center lg:flex">
    <div>
        <div class="flex justify-center mt-12">
            <h1 class="font-poppins font-bold text-3xl">To Do 🚀</h1>
        </div>

        <app-task-empty-card [todoTaskInput]="todoTasks" [completedTaskInput]="completedTasks" />

        <div class="flex flex-col justify-center items-center mt-10 gap-8">
            @for (task of todoTaskInput().todoTasks | filter: todoTaskInput().searchTerm; track $index) {
            <mat-card class="card">
                <mat-card-content>
                    <h2>{{ task.title }}</h2>
                    <mat-divider />
                </mat-card-content>
                <mat-card-actions class="card-actions">
                    <mat-icon class="cursor-pointer" (click)="onDeleteTaskHandler(task.id)">delete</mat-icon>
                    <mat-icon class="cursor-pointer" (click)="onCompleteTaskHandler(task.id)">done</mat-icon>
                </mat-card-actions>
            </mat-card>
            }
        </div>
    </div>
</div>