<div mat-dialog-content>
    <form [formGroup]="taskGroup" (ngSubmit)="onSubmit()">
        <div>
            <label for="title">Task Title</label>
            <input type="text" id="title" formControlName="titleCtrl" class="mt-1 p-2 w-full border rounded-md">
        </div>
        <div class="actions" mat-dialog-actions>
            <button class="test" mat-raised-button color="primary" type="submit" [disabled]="taskGroup.invalid">Add</button>
            <button mat-button mat-dialog-close cdkFocusInitial (click)="closeDialog(true)">Close</button>
        </div>
    </form>
</div>