<div class="flex justify-center mt-10">
    <div class="bg-blue-600 w-80  rounded-lg">
        <div class="font-poppins text-white ml-5 mt-1">
            <h1>{{caption().dayCaption}}</h1>
            <h2 class="mt-4 text-4xl">{{counts().completedTaskCount}}/{{counts().completedTaskCount +
                counts().toDoTaskCount + caption().taskCaption}}</h2>
        </div>
        <img class="float-end mr-6" width="112" height="112" ngSrc="../../../assets/free.svg" priority alt="free">
    </div>
</div>