<div class="flex flex-row justify-center mt-10">
    <div class="bg-purple-400 w-80 h-80 rounded-lg">
        <h1 class="flex justify-center mt-2 font-poppins text-white">some random thing that user wrote</h1>
    </div>
    <div class="flex justify-center mt-10">
        <div class="bg-orange-400 w-80 h-20 rounded-lg">
            <h2 class="flex justify-center mt-2 font-poppins text-white">some random thing that user wrote</h2>
        </div>
    </div>
    <div class="flex justify-center mt-10">
        <div class="bg-red-500 w-80 h-20 rounded-lg">
            <h3 class="flex justify-center mt-2 font-poppins text-white">some random thing that user wrote</h3>
        </div>
    </div>
</div>