<div class="flex justify-center mt-10">
    <div class="bg-purple-300 w-80 h-20 rounded-lg">
        <h4 class="flex justify-center mt-2 font-poppins text-white">some random thing that user wrote</h4>
    </div>
</div>
<div class="flex justify-center mt-10">
    <div class="bg-purple-400 w-80 h-20 rounded-lg">
        <h4 class="flex justify-center mt-2 font-poppins text-white">some random thing that user wrote</h4>
    </div>
</div>
<div class="flex justify-center mt-10">
    <div class="bg-purple-500 w-80 h-20 rounded-lg">
        <h4 class="flex justify-center mt-2 font-poppins text-white">some random thing that user wrote</h4>
    </div>
</div>