<div class="flex flex-row justify-start mt-10 gap-8 overflow-scroll">
    @for (task of completedTasks; track $index) {
    <div class="flex justify-center text-center">
        <div class="flex items-center justify-center bg-purple-400 w-80 h-32 rounded-lg">
            <h1 class="mt-2 font-poppins text-white">{{ task.title }}</h1>
            <mat-icon (click)="deleteTask(task.id)">delete</mat-icon>
        </div>
    </div>
    }
</div>

@if (completedTasks.length == 0) {
<div class="flex justify-center text-center">
    <div class="flex items-center justify-center bg-purple-400 w-80 h-32 rounded-lg">
        <h1 class="mt-2 font-poppins text-white text-xl">No Current completed tasks yet</h1>
    </div>
</div>
}